$red-100: #e81932;
$gray-100: #242a38;
$gray-200: #606060;
$gray-300: #262529;
$gray-400: #eaeeef;
$gray-500: #f4f5f9;
$white: #fff;
$black: #000;
$credit-blue: #1a03f9;
$background-gray: rgb(96 105 119 / 60%);
$background: #063048;
$backgound-header: #f9f9f9;
