@import "./colors";

:export {
  red100: $red-100;
  gray100: $gray-100;
  gray200: $gray-200;
  gray300: $gray-300;
  gray400: $gray-400;
  gray500: $gray-500;
  white: $white;
  black: $black;
  creditBlue: $credit-blue;
  backgroundGray: $background-gray;
  background: $background;
  backgoundHeader: $backgound-header;
}
