@import "../../../styles/colors.module.scss";

.searchInput {
  position: relative;
  .locations {
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    background-color: $white;
    max-height: 205px;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;

    .location {
      cursor: pointer;
      padding: 12px;
      border-bottom: 1px solid #ccc;

      &:hover {
        background-color: #eee;
      }
      &:active {
        background-color: $gray-300;
        color: $white;
      }
    }
  }
}
